# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'ctrl-1': 'atom-transcribe:fast-backward'
  'ctrl-2': 'atom-transcribe:backward'
  'ctrl-3': 'atom-transcribe:reduce-playback-speed'
  'ctrl-space': 'atom-transcribe:toggle-playback'
  'ctrl-5': 'atom-transcribe:forward'
  'ctrl-6': 'atom-transcribe:fast-forward'
  'ctrl-4': 'atom-transcribe:increase-playback-speed'
  'ctrl-t': 'atom-transcribe:insert-timestamp'
