// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor .highlights .atom-transcribe-timestamp.region {
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    background: none;

    border: solid .1em @text-color-warning;
    border-radius: .4em;
}

.atom-transcribe {
  height: auto;
  border: 1px solid #000;
  transition: border 2s linear;

  &.pulse {
    border-color: #02E9FF;
  }

  .audio-controls-container {
    width: 100%;
    padding: 7px 10px;
    border-bottom: 1px solid #000;

    #progressblock {
        margin-top: -.5em;
        margin-bottom: 1em;
    }

    #audio-progressbar {
        width: 100%;
        height: 2em;
        margin-bottom: -2em;
    }
    #audio-progressbar:not([value]), #audio-progressbar:not([value]) + #audio-ticker-box {
        display: none;
    }
    #audio-ticker-box {
        pointer-events: none;
        position: relative;
        top: .2em;
        display: block;
        width: 100%;
        background-color: none;
        text-align: center;
    }
    #audio-ticker {
        color: @text-color;
        background-color: fade(@app-background-color, 60%);
        padding: .4em;
        margin: -.4em;
    }

    .skip_big {
        color: mix(@text-color-highlight, #ff0000, 50%)
    }
    .skip_small {
        color: mix(@text-color-highlight, #ffff00, 50%)
    }

    #playback-rate .playback-text {
        margin-bottom: -.5em;
        font-size: 80%;
        margin-right: .4em;
    }

    .playing-now-container {
      padding: 5px 20px;
    }
  }

  .show-video {
      display: none;
  }

  .player audio {
      display: none;
  }
  .player video {
      resize: both;
      width: 300px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
  .player video.hide {
      display: none;
  }
}
